


* {
	box-sizing:border-box;
	font-family: sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	background: #111;
	/*background: #1f1f1f;*/
}

/*..........Global Classes.............*/
.row-flex {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*justify-content: space-around;*/
    align-items: flex-start;
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
}


/*..........Global Classes End.............*/


/* --------------- side nav bar ----------------- */

.nav-menu {
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
	width: 250px;
	height: 100%;
	/*background: red;*/
	background: black;
	/*background: #111;*/

	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
  	/*align-items: center;*/

}

.nav-logo {
	padding: 0% 1%;
	margin: 5px auto;
}
.nav-logo img {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 10px;
	border-radius: 8px;	
}

nav ul li{
	list-style-type: none;
  	/*margin: 0;*/
  	/*padding: 0;*/
  	/*width: 90%;*/
  	/*background-color: #f1f1f1;*/
  	line-height: 2;
}
nav a {
	display: inline-block;
	text-decoration: none;
	padding: 5px 15px;
	font-size: 0.9em;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

nav a:hover {
	background: white;
	color: #222c6a;
}


/* --------------- side nav bar end----------------- */



/*------------------content----------------------*/
/*...........main content style.................*/
.main-content{
	background: #111;
	/*background: #1f1f1f;*/
	margin-left: 250px;
	/*padding: 0 20px;*/
	/*background: red;*/
	/*background: rgba(0,0,0, 0.8);*/
}
/* image for home page cover photo style*/
.main-content .cover-contain {
	width: 100%;
	height: 100vh;
	background: url("../img/cover.jpg") no-repeat 100% 100%;
	background-size: cover;
	display: table;
	top: 0;
    display: flex;
    justify-content: center;
}

.main-content .cover-contain .cover-text{
	padding-top: 30%;
    text-align: center;
    color: white;
}

/*image for home page cover photo style* end*/

/*homepage-about style*/
.main-content .homepage-about {
	width: 94%;
	margin: 5% 3%;
	/*background: white;*/
}

.main-content .homepage-about .homepage-content {
	/*color: #2c2c2c;*/
	color: white;
	padding: 1% 15%;
	font-size: 130%;
	line-height: 180%;
	text-align: center;
	font-weight: 300;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

/*homepage-about style end*/


/*homepage-gallery style*/
.main-content .homepage-gallery {
	width: 98%;
	/*height: 600px;*/
	margin: 0 1%;
	/*background: white;*/
}

.one-third-column {
	width: 100%;
	max-width: 33.3333%;
	padding: 15px;
	/*margin: 1%;*/
}

.one-third-column img {
	width: 100%;
  	/*max-width: 400px;*/
  	height: auto;
}
.one-third-column img:hover {
	opacity: 0.5;
}
/*homepage-gallery style end*/









/*...........main content style end.................*/

footer {
	width: 100%;
	height: 20vh;
	/*background: white;*/
	text-align: center;
	color: white;
	padding: 5px;
}






















